<!--
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header"></head>
<body>
<form th:action="@{/forgot-password}" method="post">
  <input type="email" name="email" placeholder="Email"/>
  <button type="submit">Send Reset Link</button>
</form>
<div th:include="fragments/footer :: footer"></div>
</body>
</html>-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header"></head>
<body>
<p th:if="${error}" class="error" th:text="${error}"></p>
<form th:action="@{/forgot-password}" method="post">
  <input type="email" name="email" placeholder="Email"/>
  <button type="submit">Send Reset Link</button>
</form>
<div th:include="fragments/footer :: footer"></div>
</body>
</html>