<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header">
<link rel="stylesheet" th:href="@{/css/profile.css}">
</head>
<body>
<h1>Profile</h1>
<p th:if="${param.success}" class="success">Profile updated successfully!</p>
<p th:if="${param.passwordChanged}" class="success">Password changed successfully!</p>
<p th:if="${error}" class="error" th:text="${error}"></p>
<form th:action="@{/profile}" th:object="${user}" method="post">
    <input type="text" th:field="*{first_name}" placeholder="First Name" required/>
    <input type="text" th:field="*{last_name}" placeholder="Last Name" required/>
    <input type="email" th:field="*{email}" placeholder="Email" required/>
    <input type="text" th:field="*{username}" placeholder="Username" required/>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <button type="submit">Update Profile</button>
</form>
<!--<p>Role: <span th:text="*{}"></span></p>-->


<h2>Change Password</h2>
<form th:action="@{/change-password}" method="post">
    <input type="password" name="oldPassword" placeholder="Old Password" required/>
    <input type="password" name="newPassword" placeholder="New Password" required/>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <button type="submit">Change Password</button>
</form>

<a th:href="@{/logout}">Logout</a>
<div th:include="fragments/footer :: footer"></div>
<script th:src="@{/js/profile.js}"></script>
</body>
</html>